&__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 5em;
    position: relative;

    &__img {
        background: url('../assets/images/pexels-ike-louie-natividad-3229336.jpg') 55vw center no-repeat;
        background-size: 25%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: brightness(0.5);
    }

    .big-quote {
        font-size: 3.25em;
        text-transform: uppercase;
        font-weight: $bold;
        text-align: center;
        width: 35%;
        position: relative;
    }

    &__title {
        width: 15%;
        position: relative;
    }

    p {
        width: 30%;
        margin-right: 20%;
        text-align: justify;
        position: relative;
    }
}