&__about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: url('../../../stock/pexels-satoshi-hirayama-1633791.jpg') 52vw center no-repeat;
    background-size: 40%;
    padding: 5em;

    .big-quote {
        font-size: 3.25em;
        text-transform: uppercase;
        font-weight: $bold;
        text-align: center;
        width: 35%;
    }

    &__title {
        width: 15%;
    }

    p {
        width: 30%;
        margin-right: 20%;
        text-align: justify;
    }
}