.footer {
    background-color: $orange;
    color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    h6 {
        color: $dGray;

        a {
            font-weight: $black;
            color: $dGray;
        }
    }
}