.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/images/bg1-8.png') no-repeat;
    background-size: cover;

    &__nav {
        display: flex;
        justify-content: center;
        width: 75%;
        position: fixed;
        top: 0;
        padding: 2.5em;
        z-index: 999;

        &__logo {
            position: absolute;
            top: -0.25em;
            left: 0;
            width: 7.5em;
            height: 7.5em;
        }

        &__nav-bar {
            display: flex;
            justify-content: space-between;
            width: 60%;
            text-transform: uppercase;

            a {
                color: white;
                font-weight: $thin;

                &:hover {
                    font-weight: $medium;
                }
            }
        }
    }
}

.header.--half {
    height: 60vh;
}